# microservice1.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: microservice1-deployment
  labels:
    app: microservice1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: microservice1
  template:
    metadata:
      labels:
        app: microservice1
    spec:
      nodeName: worker1
      containers:
        - name: nginx
          image: negin67/m1:v8
          resources:
           limits:
             cpu: "0.5"  # Set CPU limit to 1 core
             memory: "512Mi"  # Set memory limit to 512 MiB
           requests:
             cpu: "0.5"  # Set CPU request to 0.5 cores
             memory: "512Mi"  # Set memory request to 256 MiB


          env:
            - name: POD_UID
              valueFrom:
                fieldRef:
                  fieldPath: metadata.uid
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5001
        - name: host-sflow-sidecar
          image: sflow/host-sflow:latest
          env:
            - name: COLLECTOR
              value: {{ groups['sflow_machine'][0] }}
            - name: NET
              value: host
          volumeMounts:
            - mountPath: /var/run/docker.sock
              name: docker-sock
              readOnly: true
      volumes:
        - name: docker-sock
          hostPath:
            path: /var/run/docker.sock

---
apiVersion: v1
kind: Service
metadata:
  name: microservice1-service
spec:
  selector:
    app: microservice1
  ports:
    - protocol: TCP
      port: 5001
      targetPort: 5001
  type: LoadBalancer



---
# microservice2.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: microservice2-deployment
  labels:
    app: microservice2
spec:
  replicas: 1
  selector:
    matchLabels:
      app: microservice2
  template:
    metadata:
      labels:
        app: microservice2
    spec:
      nodeName: worker2
      containers:
        - name: nginx
          image: negin67/m2:v8
          resources:
           limits:
             cpu: "0.5"  # Set CPU limit to 1 core
             memory: "512Mi"  # Set memory limit to 512 MiB
           requests:
             cpu: "0.5"  # Set CPU request to 0.5 cores
             memory: "512Mi"  # Set memory request to 256 MiB


          env:
            - name: POD_UID
              valueFrom:
                fieldRef:
                  fieldPath: metadata.uid
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5002
        - name: host-sflow-sidecar
          image: sflow/host-sflow:latest
          env:
            - name: COLLECTOR
              value: {{sflow_ip}}
            - name: NET
              value: host
          volumeMounts:
            - mountPath: /var/run/docker.sock
              name: docker-sock
              readOnly: true
      volumes:
        - name: docker-sock
          hostPath:
            path: /var/run/docker.sock

---
apiVersion: v1
kind: Service
metadata:
  name: microservice2-service
spec:
  selector:
    app: microservice2
  ports:
    - protocol: TCP
      port: 5002
      targetPort: 5002
  type: LoadBalancer


---
# microservice3.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: microservice3-deployment
  labels:
    app: microservice3
spec:
  replicas: 1
  selector:
    matchLabels:
      app: microservice3
  template:
    metadata:
      labels:
        app: microservice3
    spec:
      nodeName: master
      containers:
        - name: nginx
          image: negin67/m3-ssd:v8
          resources:
           limits:
             cpu: "0.8"  # Set CPU limit to 1 core
             memory: "1024Mi"  # Set memory limit to 512 MiB
           requests:
             cpu: "0.8"  # Set CPU request to 0.5 cores
             memory: "1024Mi"  # Set memory request to 256 MiB

          env:
            - name: POD_UID
              valueFrom:
                fieldRef:
                  fieldPath: metadata.uid
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
        - name: host-sflow-sidecar
          image: sflow/host-sflow:latest
          env:
            - name: COLLECTOR
              value: {{sflow_ip}}
            - name: NET
              value: host
          volumeMounts:
            - mountPath: /var/run/docker.sock
              name: docker-sock
              readOnly: true
      volumes:
        - name: docker-sock
          hostPath:
            path: /var/run/docker.sock

---
apiVersion: v1
kind: Service
metadata:
  name: microservice3-service
spec:
  selector:
    app: microservice3
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 80
  type: LoadBalancer


---
# microservice4.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: microservice4-deployment
  labels:
    app: microservice4
spec:
  replicas: 1
  selector:
    matchLabels:
      app: microservice4
  template:
    metadata:
      labels:
        app: microservice4
    spec:
      nodeName: worker3
      containers:
        - name: nginx
          image: negin67/m4:v9
          resources:
           limits:
             cpu: "0.5"  # Set CPU limit to 1 core
             memory: "512Mi"  # Set memory limit to 512 MiB
           requests:
             cpu: "0.5"  # Set CPU request to 0.5 cores
             memory: "512Mi"  # Set memory request to 256 MiB

          env:
            - name: POD_UID
              valueFrom:
                fieldRef:
                  fieldPath: metadata.uid
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5004
        - name: host-sflow-sidecar
          image: sflow/host-sflow:latest
          env:
            - name: COLLECTOR
              value: {{sflow_ip}}
            - name: NET
              value: host
          volumeMounts:
            - mountPath: /var/run/docker.sock
              name: docker-sock
              readOnly: true
      volumes:
        - name: docker-sock
          hostPath:
            path: /var/run/docker.sock
---
---
apiVersion: v1
kind: Service
metadata:
  name: microservice4-service
spec:
  selector:
    app: microservice4
  ports:
    - protocol: TCP
      port: 5004
      targetPort: 5004
  type: LoadBalancer



# Central_DB.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: db-deployment
  labels:
    app: db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: db
  template:
    metadata:
      labels:
        app: db
    spec:
      nodeName: master
      containers:
        - name: nginx
          image: negin67/db:v9
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5005
        - name: host-sflow-sidecar
          image: sflow/host-sflow:latest
          env:
            - name: COLLECTOR
              value: {{sflow_ip}}
            - name: NET
              value: host
          volumeMounts:
            - mountPath: /var/run/docker.sock
              name: docker-sock
              readOnly: true
      volumes:
        - name: docker-sock
          hostPath:
            path: /var/run/docker.sock

---
apiVersion: v1
kind: Service
metadata:
  name: db-service
spec:
  selector:
    app: db
  ports:
    - protocol: TCP
      port: 5005
      targetPort: 5005
  type: LoadBalancer
